<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<!-- Assume students is the database name -->
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/gnufinance
		</property>
		<property name="hibernate.connection.username">
			gnufinance
		</property>
		<property name="hibernate.connection.password">
			gnuisnotunix
		</property>

	</session-factory>
</hibernate-configuration>